/*
not linked to index.html because of background-image issues but is embedded 
*/

body
{
    background-image: url("../images/Burnt Orange Background.png");
}
#quoteSectn
{
    border-radius: 25px;
    color: white;
    text-align: justify;
    height: 380px;
    margin-top: 75px;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
}
#text_entry
{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    font-weight: normal;
    color: white;
    background-image: url("../images/Chalkboard.png");
    background-size: 100% 100%;
    border: 0px;
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    box-shadow: 5px 5px 5px #000101;
}
#tray
{
    margin-top: -60px;
    width: 650px;
    box-shadow: 3px 3px 3px #000101;
    margin-left: 13px;
}
.button-0
{
    position: relative;
    padding: 0px 0px 0px 10px;
    border-radius: 5px;
    color: #ffffff;
    margin: auto;
    padding-left: 50px;
    padding-right: 40px;
    padding-top: -5px;
    padding-bottom: 5px;
    text-decoration: none;  
    background-color: #000000;
    border-bottom: 5px solid #000000;
    text-shadow: 0px 0px #FFFFFF;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    box-shadow: 5px 5px 5px #000101;
    display: inline;
}
.button-0:hover, 
.button-0:focus {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0px 0px #ffffff;
}
.button-0:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid black;
    color: #ffffff;
    display: inline-block;
}